


.em1{
    margin-left: 15px;
}
.box1{
    border: 2px solid ;
    padding: 20px;
    width: 50px;
    margin-top:0px;
    margin-left:0px;
}
.em2{
    margin-left: 165px;
}
.box2{
    border: 2px solid ;
    padding: 20px;
    width: 50px;
    margin-top:0px; 
    margin-left: 150px;  
}
.em3{
    margin-left: 315px;
    
}
.box3{
    border: 2px solid ;
    padding: 20px;
    width: 50px;
    margin-top:0px;   
    margin-left: 300px;  
}
.em4{
    margin-left: 465px;
}
.box4{
    border: 2px solid ;
    padding: 20px;
    width: 50px;
    margin-top:0px; 
    margin-left: 450px;    
}